/* Fuente Cairo */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
/* font-family: "Cairo", sans-serif; */

body{
    font-family: "Cairo", sans-serif;
    background-color: rgb(22, 21, 17);
    
}
h1{
    /* propiedad: valor */
    color: rgb(196, 248, 8);
    font-size: 24;
    font-family: "Cairo", sans-serif;
    text-align: center;
    margin-top: 30px;
}
.H1-inicio{
    display: block;
    margin-top: -30px;
    margin-bottom: -9px;
    margin-right: 100px;
    text-align: center;
    text-decoration: underline;
    color: yellow;
}
.h2-estil{
font-family: "Cairo", sans-serif;
color: yellow;
font-size: 25px;
text-decoration: underline;
}

p{
    color:rgb(196, 248, 8); 
    font-size: 24px;
    text-align: center;
    font-style: italic;
    font-weight: 600;
    
}
.p-hist{
     display: grid;
     grid-template-columns:1fr 1fr 1fr;
     justify-items: left;

     
     
}
.imghist{
    display:inline-block;
    width: 40rem;
    height: 25rem;
    margin: 3rem;
}

.footer-p {
    color: rgb(250, 250, 247);
    font-size: 12px;
    font-family: "Cairo", sans-serif;
}


 .nav-sup{
    font-size: 24;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 5px;
}

.nav ul{
    display: flex;
    flex-direction: row;
    justify-content:right;
    align-items: center;
    gap: 30px; 
    padding: 50px;
}

nav ul li{
     list-style: none; 

}



.a-nav {
    text-decoration: none;
    color: rgb(196, 248, 8);
}



.imglogo{
    width: 170px;
    margin-top: 30px;
    margin-left: 80px;
    background-image: url(../assets/img/Img\ fondo.png);
    background-color: black;
    align-items: center;
}

.fondo{
    display: inline;
    width: 990px;
    background-image: url(../assets/img/Img\ fondo.png);
    margin-left: 200px;
    padding-top: -40px;
    

}





.navbar {
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: 0.5rem;
    --bs-navbar-color: rgb(196, 248, 8);
    /* --bs-navbar-hover-color: rgb(196, 248, 8); */
    /* --bs-navbar-disabled-color
rgba(255, 255, 255, 0.25)
: rgba(var(--bs-emphasis-color-rgb), 0.3); */
    --bs-navbar-active-color: rgb(196, 248, 8);
    --bs-navbar-brand-padding-y: 0.3125rem;
    --bs-navbar-brand-margin-end: 1rem;
    --bs-navbar-brand-font-size: 1.25rem;
    --bs-navbar-brand-color: rgba(var(--bs-emphasis-color-rgb), 1); 
    --bs-navbar-brand-hover-color: rgb(196, 248, 8);
    --bs-navbar-nav-link-padding-x: 0.5rem;
    --bs-navbar-toggler-padding-y: 0.25rem;
    --bs-navbar-toggler-padding-x: 0.75rem;
    --bs-navbar-toggler-font-size: 1.25rem;
    --bs-navbar-toggler-icon-bg: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);
    --bs-navbar-toggler-border-color: rgba(var(--bs-emphasis-color-rgb), 0.15);
    --bs-navbar-toggler-border-radius: var(--bs-border-radius);
    --bs-navbar-toggler-focus-width: 0.25rem;
    --bs-navbar-toggler-transition: box-shadow 0.15s 
ease-in-out;
 /* position: relative;
    display: flex */
;
/* flex-grow: inherit;
    align-items: flex-start;
    justify-content: space-around;
    padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
   flex-direction: row;  */
} 

.bg-body-tertiary {
--bs-bg-opacity: 1;
    background-color: rgba(var(--bs-tertiary-bg-rgb)
43,48,53
, var(--bs-bg-opacity)) !important;
}

/* Color menudespleglable vista movil*/
.navbar-toggler{
    background-color: yellow;
}




